<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Chlorophyll.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1238},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1138},{464,221}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,87},{464,221}}</string>
                <key>sourceSize</key>
                <string>{500,375}</string>
            </dict>
            <key>MENU_tausta.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,0},{768,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1136}}</string>
                <key>sourceSize</key>
                <string>{768,1136}</string>
            </dict>
            <key>Tile1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,770},{384,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,1024}}</string>
                <key>sourceSize</key>
                <string>{384,1024}</string>
            </dict>
            <key>Tile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,770},{384,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,1024}}</string>
                <key>sourceSize</key>
                <string>{384,1024}</string>
            </dict>
            <key>Tile3.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,770},{384,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,1024}}</string>
                <key>sourceSize</key>
                <string>{384,1024}</string>
            </dict>
            <key>kivi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1604},{151,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,206}}</string>
                <key>sourceSize</key>
                <string>{151,206}</string>
            </dict>
            <key>kivi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1604},{142,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,145}}</string>
                <key>sourceSize</key>
                <string>{142,145}</string>
            </dict>
            <key>kivi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1138},{99,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,369}}</string>
                <key>sourceSize</key>
                <string>{99,369}</string>
            </dict>
            <key>kruunu.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1238},{73,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,63}}</string>
                <key>sourceSize</key>
                <string>{73,63}</string>
            </dict>
            <key>leaf.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1138},{98,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,103}}</string>
                <key>sourceSize</key>
                <string>{98,103}</string>
            </dict>
            <key>tukki.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1303},{274,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,140}}</string>
                <key>sourceSize</key>
                <string>{274,140}</string>
            </dict>
            <key>water.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{768,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1136}}</string>
                <key>sourceSize</key>
                <string>{768,1136}</string>
            </dict>
            <key>waterAlpha1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{768,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1136}}</string>
                <key>sourceSize</key>
                <string>{768,1136}</string>
            </dict>
            <key>waterAlpha2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{768,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1136}}</string>
                <key>sourceSize</key>
                <string>{768,1136}</string>
            </dict>
            <key>waterAlpha3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{768,1136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1136}}</string>
                <key>sourceSize</key>
                <string>{768,1136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>envSheet1.png</string>
            <key>size</key>
            <string>{1926,1794}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f16a7418eaa9378fc6514a135681bb5:04e00d1ed952e3d12485aea1ba7b61d6:1e6c89a6014e72ed4822eecbb66223ab$</string>
            <key>textureFileName</key>
            <string>envSheet1.png</string>
        </dict>
    </dict>
</plist>
