<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Chlorophyll.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,883},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>Tile1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,764},{192,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,512}}</string>
                <key>sourceSize</key>
                <string>{192,512}</string>
            </dict>
            <key>Tile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,570},{192,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,512}}</string>
                <key>sourceSize</key>
                <string>{192,512}</string>
            </dict>
            <key>Tile3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{192,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,512}}</string>
                <key>sourceSize</key>
                <string>{192,512}</string>
            </dict>
            <key>kivi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,565},{76,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,103}}</string>
                <key>sourceSize</key>
                <string>{76,103}</string>
            </dict>
            <key>kivi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,809},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>kivi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,514},{49,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,184}}</string>
                <key>sourceSize</key>
                <string>{49,184}</string>
            </dict>
            <key>leaf.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,883},{49,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,52}}</string>
                <key>sourceSize</key>
                <string>{49,52}</string>
            </dict>
            <key>tukki.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,670},{137,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,71}}</string>
                <key>sourceSize</key>
                <string>{137,71}</string>
            </dict>
            <key>water.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{384,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,568}}</string>
                <key>sourceSize</key>
                <string>{384,568}</string>
            </dict>
            <key>waterAlpha1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{384,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,568}}</string>
                <key>sourceSize</key>
                <string>{384,568}</string>
            </dict>
            <key>waterAlpha2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{384,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,568}}</string>
                <key>sourceSize</key>
                <string>{384,568}</string>
            </dict>
            <key>waterAlpha3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{384,568}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,568}}</string>
                <key>sourceSize</key>
                <string>{384,568}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>envSheet1.png</string>
            <key>size</key>
            <string>{590,956}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aae7da508f5219da2e61523b2dc5eccc:c642871032f7fcefaa814fc5f313c842:1e6c89a6014e72ed4822eecbb66223ab$</string>
            <key>textureFileName</key>
            <string>envSheet1.png</string>
        </dict>
    </dict>
</plist>
